html {
  height: 100%;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
  font-family: "Helvetica Neue", Arial, sans-serif;
  background-color: SkyBlue;
}

.main {
  top: -25px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f2f2f2;
}

.main h1 {
  margin-top: 0;
}


/**
 * Footer Styles
 */

footer {
  background-color: #222222;
  color: Gray;
  position: absolute;
  text-align: center;
  width: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  padding-top: 10px;
  font-family: cursive, sans-serif;
}

.navbar {
  position: relative;
}

.center-text {
  text-align: center;
}

.fa-bolt {
  color: Yellow;
}

.fa-globe {
  color: Green;
}

.fa-facebook,
a {
  color: LightSkyBlue;
}

#push {
  padding-bottom: 25px;
}

.me {
  width: 250px;
  height: 250px;
  margin-top: 50px;
  border-width: 5px;
  border-style: solid;
  border-color: gray;
}

.home {
  position: relative;
  top: -20px;
  padding-top: 10%;
  padding-bottom: 10%;
  color: #fff;
  background-color: #1E88E5;
}

.img-text {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-right: 30%;
  padding-left: 30%;
}

.displayed {
  display: block;
  margin-right: auto;
  margin-left: auto
}
